[submodule "ManyUI"]
	path = ManyUI
	url = git@github.com:juliatryit/ManyUI.jl.git
	branch = main
[submodule "ManyUICLI"]
	path = ManyUICLI
	url = git@github.com:juliatryit/ManyUICLI.jl.git
	branch = main
[submodule "ManyUITUI"]
	path = ManyUITUI
	url = git@github.com:juliatryit/ManyUITUI.jl.git
	branch = main
[submodule "ManyUIWeb"]
	path = ManyUIWeb
	url = git@github.com:juliatryit/ManyUIWeb.jl.git
	branch = main
[submodule "ManyUICImGui"]
	path = ManyUICImGui
	url = git@github.com:juliatryit/ManyUICImGui.jl.git
	branch = main
[submodule "ManyUIDemos"]
	path = ManyUIDemos
	url = git@github.com:juliatryit/ManyUIDemos.jl.git
	branch = main
[submodule "ManyUIDoc"]
	path = ManyUIDoc
	url = git@github.com:juliatryit/ManyUIDoc.jl.git
	branch = main
